<div ng-controller="autoDictionaries.edit.controller as vm" id="autoDictionaries">
	<umb-editor-view>
		<umb-editor-header name="vm.page.title"
						   description="vm.page.description"
						   hide-description="false"
						   name-locked="true"
						   description-locked="true"
						   hide-alias="true"
						   show-back-button="true"
						   on-back="vm.goBack()"
						   hide-icon="true">
		</umb-editor-header>

		<umb-editor-container>

			<umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

			<div class="flex" ng-if="!vm.loading">
				<div class="umb-package-details__main-content">
					<umb-box ng-if="vm.view.Dictionaries.length">
						<umb-box-header title="Dictionaries" description="Dictionaries in this view: {{ vm.view.Dictionaries.length }}"></umb-box-header>

						<table class="table" id="dictionary-items-table">
							<thead>
								<tr>
									<th>Key</th>
									<th>Id</th>
									<th>Used in view</th>
									<th>Translated</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="dictionaryValue in vm.view.Dictionaries">
									<td>{{ dictionaryValue.Key }}</td>
									<td>{{ dictionaryValue.Id }}</td>
									<td>{{ dictionaryValue.Used }}</td>
									<td>
										<umb-icon icon="icon-check" ng-if="dictionaryValue.Translated"></umb-icon>
										<umb-icon icon="icon-alert" title="This dictionary is not fully translated" ng-if="!dictionaryValue.Translated"></umb-icon>
									</td>
									<td><a ng-click="vm.openDictionary(dictionaryValue.Id)">Open dictionary</a></td>
								</tr>
							</tbody>
						</table>
					</umb-box>

					<umb-box>
						<umb-box-header ng-if="vm.view.StaticContent.length" title="Static content" description="Dictionaries that can be generated in this template: {{ vm.view.StaticContent.length }}"></umb-box-header>

						<div class="umb-table" id="static-content-table" ng-if="vm.view.StaticContent.length">
							<div class="umb-table-head">
								<div class="umb-table-row">
									<div class="umb-table-cell">
										<button type="button" class="umb-table__action" ng-click="vm.toggleSelectAll()">
											<i class="icon-check umb-checkmark umb-checkmark--xs umb-outline" checked="checked" size="xs"></i>
										</button>
									</div>
									<div class="umb-table-cell">
										Content
									</div>
									<div class="umb-table-cell">
										Used in view
									</div>
									<div class="umb-table-cell">
										Parent
									</div>
									<div class="umb-table-cell">
									</div>
								</div>
							</div>

							<div class="umb-table-body">
								<div ng-repeat="staticContent in vm.view.StaticContent" ng-click="vm.toggleSelect(staticContent.StaticContent, vm.parent[$index])" ng-class="{'-selected' : vm.findIndex(vm.selectedContent, staticContent.StaticContent) != -1}" class="umb-table-row -selectable umb-outline" role="button">
									<div class="umb-table-cell">
										<umb-icon icon="icon-book-alt-2" class="umb-table-body__icon umb-table-body__fileicon"></umb-icon>

										<i class="umb-table-body__icon umb-table-body__checkicon icon-check" aria-hidden="true"></i>
									</div>
									<div class="umb-table-cell">
										{{ staticContent.StaticContent }}
									</div>
									<div class="umb-table-cell" aria-hidden="false">
										{{ staticContent.Used }}
									</div>
									<div class="umb-table-cell">
										<select class="mb0" ng-click="$event.stopPropagation();" ng-init="vm.parent[$index] = '0'" ng-model="vm.parent[$index]" ng-change="vm.changeParent(staticContent.StaticContent, vm.parent[$index])">
											<option value="0">None</option>
											<option ng-repeat="dictionary in vm.allDictionaryItems" value="{{dictionary.Key}}">{{dictionary.Key}}</option>
										</select>
									</div>
									<div class="umb-table-cell">
										<umb-button ng-if="staticContent.Dictionary"
													ng-click="$event.stopPropagation();"
													action="vm.matchDictionary(staticContent)"
													title="Matching dictionary item found"
													type="button"
													button-style="action"
													state="vm.buttonState"
													label="Match found">
										</umb-button>
									</div>
								</div>
							</div>
						</div>


						<umb-box-content ng-if="!vm.view.StaticContent.length">
							No static content in this view!
						</umb-box-content>
					</umb-box>

					<div class="umb-editor-sub-header umb-editor-sub-header-- --state-selection" ng-if="vm.selectedContent.length">
						<div>
							<umb-button action="vm.clearSelection()"
										class="mr2"
										type="button"
										button-style="info"
										state="vm.buttonState"
										label="Clear selection">
							</umb-button>

							{{vm.selectedContent.length}} of {{vm.view.StaticContent.length}} selected
						</div>

						<div>
							<select class="mb0" ng-init="vm.allParent = '0'" ng-model="vm.allParent" ng-change="vm.changeAllParent(vm.allParent)">
								<option value="0">None</option>
								<option ng-repeat="dictionary in vm.allDictionaryItems" value="{{dictionary.Key}}">{{dictionary.Key}}</option>
							</select>

							<umb-button action="vm.generateDictionaries()"
										type="button"
										button-style="info"
										state="vm.generateDictionariesButtonState"
										label="Generate ({{vm.selectedContent.length}}) dictionaries"
										disabled="vm.selectedContent.length == 0">
							</umb-button>
						</div>
					</div>
				</div>

				<div class="umb-package-details__sidebar" ng-if="!vm.loading">
					<umb-box>
						<umb-box-header title="General information" description="General information about this view "></umb-box-header>

						<table class="table mb0" id="general-info-table">
							<thead>
								<tr>
									<th>Key</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><strong>View name</strong></td>
									<td>{{ vm.view.Name }}</td>
								</tr>
								<tr>
									<td><strong>View alias</strong></td>
									<td>{{ vm.view.Alias }}</td>
								</tr>
								<tr>
									<td><strong>View Id</strong></td>
									<td>{{ vm.view.Id }}</td>
								</tr>
								<tr>
									<td><strong>View type</strong></td>
									<td>{{ vm.view.Type }}</td>
								</tr>
								<tr>
									<td><strong>View path</strong></td>
									<td>{{ vm.view.Path }}</td>
								</tr>
							</tbody>
						</table>
						<umb-box-content>
							<umb-button action="vm.openTemplate()"
										class="flex justify-end"
										type="button"
										button-style="action"
										state="vm.buttonState"
										label="Open template"
										disabled="vm.buttonState === 'busy'"
										ng-if="vm.view.Type !== 'Partial view'">
							</umb-button>

							<umb-button action="vm.openPartialView()"
										class="flex justify-end"
										type="button"
										button-style="action"
										state="vm.buttonState"
										label="Open partial view"
										disabled="vm.buttonState === 'busy'"
										ng-if="vm.view.Type === 'Partial view'">
							</umb-button>
						</umb-box-content>

					</umb-box>
				</div>
			</div>
		</umb-editor-container>
	</umb-editor-view>
</div>
