<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebf5ab46-1b99-4c2b-87e3-ac0b92601c18" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-12T09:18:53</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <richTextEditor>
      <Value><![CDATA[]]></Value>
    </richTextEditor>
  </Properties>
</Content>