<div ng-controller="autoDictionaries.overview.controller as vm" id="autoDictionaries">
	<umb-editor-view>
		<umb-editor-header name="vm.page.title"
						   description="vm.page.description"
						   name-locked="true"
						   hide-icon="true"
						   hide-alias="true"
						   description-locked="true">
		</umb-editor-header>

		<umb-editor-container>

			<umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

			<table class="table table-hover" ng-if="!vm.loading">
				<thead >
					<tr>
						<th class="clickable-th" ng-click="vm.sort('Name')">
							View name
							<umb-icon ng-if="vm.sorted == 'Name' && !vm.reverse" icon="icon-chevron-up"  class="icon-class"></umb-icon>
							<umb-icon ng-if="vm.sorted == 'Name' && vm.reverse" icon="icon-chevron-down"  class="icon-class"></umb-icon>
						</th>
						<th class="clickable-th" ng-click="vm.sort('Type')">
							Type
							<umb-icon ng-if="vm.sorted == 'Type' && !vm.reverse" icon="icon-chevron-up" class="icon-class"></umb-icon>
							<umb-icon ng-if="vm.sorted == 'Type' && vm.reverse" icon="icon-chevron-down" class="icon-class"></umb-icon>
						</th>
						<th>Static content</th>
						<th>Dictionaries</th>
						<th>Match dictionaries</th>
					</tr>
				</thead>
				<tbody>
				<tbody>
					<tr ng-repeat="view in vm.views | orderBy: vm.sorted:vm.reverse" ng-click="vm.clickedView(view.Id)">
						<td>{{view.Name}}</td>
						<td>{{view.Type}}</td>
						<td>
							<span ng-if="view.StaticContent.length">{{view.StaticContent.length}}</span>
							<umb-icon ng-if="!view.StaticContent.length" icon="icon-check"></umb-icon>
							<umb-icon ng-if="view.StaticContent.length" title="Static content exists in view" icon="icon-alert"></umb-icon>
						</td>
						<td>
							<span ng-if="view.Dictionaries.length">{{view.Dictionaries.length}}</span>
							<umb-icon ng-if="!view.StaticContent.length" icon="icon-check"></umb-icon>
							<umb-icon ng-if="view.StaticContent.length" title="More dictionaries can be used in view" icon="icon-alert"></umb-icon>
						</td>
						<td>
							<span ng-if="vm.matchDictionary(view.StaticContent).length">{{vm.matchDictionary(view.StaticContent).length}}</span>
						</td>
					</tr>
				</tbody>
			</table>

		</umb-editor-container>

		<umb-editor-footer>
		</umb-editor-footer>
	</umb-editor-view>
</div>