<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e3b12346-2b15-4e26-85c9-3527afc0fe46" Alias="Hej" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL"></Translation>
    <Translation Language="sv">Nu skall det översättas!</Translation>
  </Translations>
</Dictionary>